{% extends 'admin_base.html.twig' %}

{% block title %}Dashboard Magical Marina gestion du texte{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h2>Section Competences</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
           <thead>
               <tr>
                   <th>Couleur</th>
                   <th>Nom</th>
                   <th>Note</th>
                   <th>Image</th>
                   <th>Actions</th>
               </tr>
           </thead>
            <tbody>
            {% for competence in competences %}
                <tr>
                    <td>{{ competence.color }}</td>
                    <td>{{ competence.nom }}</td>
                    <td>{{ competence.note }}</td>
                    <td><img src="{{ vich_uploader_asset(competence.photos,'imageFile')|imagine_filter('thumb_admin') }}"></td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin.competence.edit',{'id':competence.id}) }}" alt="">modifier</a>

                        <form method="post" action="{{ path('admin.competence.delete',{'id':competence.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sûr ?')">

                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">

                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('admin.competence.new') }}" alt="">Ajouter une nouvelle compétence</a>
    </div>

{% endblock %}
