{% extends 'base.html.twig' %}

{% block title %}Page de Contact du site{% endblock %}
{% block meta_title %}Page de Contact du site{% endblock %}
{% block description  %}Sur cette Page Vous pouvez me contacter alors n'hésitez pas venez !{% endblock %}
{% block keywords %}contact marina,contact magical,contact magical marina,contact{% endblock %}

{% block body %}



    <div class="contact-block container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="row">
            <div class="contact-block-form col-md-8">
                <h2 class="titre-block"><i class="fas fa-star"></i> Envoyer moi un message</h2>

                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary float-right" value="Envoyer">
                    </div>
                {{ form_end(form) }}

            </div>
            <div class="contact-block-info col-md-4">
                <h2 class="titre-block">Me Contacter</h2>
                <ul>
                    <li><i class="fas fa-phone-volume"></i> telephone: {{ telephone }}</li>
                    <li><i class="fas fa-envelope"></i> mail: {{ mail }}</li>
                    <li><a target="_blank" href="{{ facebook }}" alt="lien-fb"><i class="fab fa-facebook"></i> Mon facebook</a></li>
                    <li><a target="_blank" href="{{ twitter }}" alt="lien-twit"><i class="fab fa-twitter"></i> Mon Twitter</a></li>
                    <li><a target="_blank" href="{{ instagramme }}" alt="lien-insta"><i class="fab fa-instagram"></i> Mon Instagramme</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        ScrollReveal().reveal('.contact-block',{delay:100})
    </script>
{% endblock %}
