{% extends 'base.html.twig' %}

{% block title %}Page de Contact du site Magical Marina !{% endblock %}

{% block body %}
    <div class="gallerie container" style="margin: 30px auto;">
        <h2 class="titre-block">Gallerie photo : {{ gallerie.nom }}</h2>

        {% for row in photos|batch(4) %}
        <div class="row" style="margin-top:10px;">
            {% for photo in row %}
                <a class="photo" href="{{ asset(photo.image) }}" data-toggle="lightbox" data-gallery="{{ gallerie.nom }}"><img width="100%" height="230" src="{{ asset(photo.image) }}" alt="{{ photo.alt }}"></a>
            {% endfor %}
        </div>
        {% endfor %}


        <div class="pagination">
            {{ knp_pagination_render(photos) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{% endblock %}
