{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil du site Magical Marina !{% endblock %}

{% block body %}

    <!--block texte-->
    <div class="container">

        <div class="block-texte">

            <div class="block-title">
                <h2><i class="fas fa-star"></i>
                    {% if texte is defined %}
                        {{ texte.titre }}
                    {% endif %}
                </h2>
            </div>

            <div class="block-presentation">
                <p>
                    {% if texte is defined %}
                        {{ texte.texte }}
                    {% endif %}
                </p>
            </div>

            <div class="block-info">
                <p>
                    {% if texte is defined %}
                        {{ texte.info }}
                    {% endif %}
                </p>
            </div>

        </div>

    </div>

    <!--Competence background-->
    <div class="block-competence-background">
        <div class="block-competence-titre">
            <h2>Mes Compétences !</h2>
        </div>
    </div>

    <!--Competence block-->
    <div class="container">

        <div class="competences-block">
            {% if competences is defined %}
            {% for row in competences|batch(3) %}

            <div class="competence-row row">


                    {% for competence in row %}
                        <div class="competence-block">
                            <div class="competence-texte">
                                <h4>{{ competence.nom }}</h4></div>
                            <div class="competence-logo" style="background-color:{{ competence.color }}">
                                <img src="{{ asset(competence.image) }}" alt="{{ competence.alt }}">
                            </div>
                        </div>
                    {% endfor %}


            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>

    <!--Slider Realisation-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">

            {% for gallerie in galleries %}
                {% if loop.first %}

                        <div class="carousel-item active" style="background-image: linear-gradient(#4a4a4a 0%,rgba(255, 255, 255, 0) 100%),url({{ asset(gallerie.image) }});">
                            <a href="{{ path('gallerie_photo',{'id':gallerie.id}) }}" alt="{{ gallerie.nom }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h2>{{ gallerie.nom }}</h2>
                                    <p class="text-description">{{ gallerie.description }}</p>
                                </div>
                            </a>
                        </div>

                {% else %}

                        <div class="carousel-item" style="background-image: linear-gradient(#4a4a4a 0%,rgba(255, 255, 255, 0) 100%),url({{ asset(gallerie.image) }});">
                            <a href="{{ path('gallerie_photo',{'id':gallerie.id}) }}" alt="{{ gallerie.nom }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>{{ gallerie.nom }}</h2>
                                <p class="text-description">{{ gallerie.description }}</p>
                            </div>
                            </a>
                        </div>

                {% endif %}

            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--Article block-->
    <div class="article-block container">
        <h2 class="titre-block">Articles dédié à mes créations !</h2>

        {% for row in articles|batch(3) %}
        <div class="row">
            {% for article in row %}
            <div class="article">
                <a target="_blank" href="{{ article.lien }}" alt="{{ article.AltLien }}"><img src="{{ asset(article.image) }}" alt="{{ article.alt }}"></a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        ScrollReveal().reveal('.block-texte',{delay:100})
        ScrollReveal().reveal('.block-competence-background',{delay:100})
        ScrollReveal().reveal('.competences-block',{delay:100})
        ScrollReveal().reveal('.carousel',{delay:100})
        ScrollReveal().reveal('.article-block',{delay:100})
    </script>
{% endblock %}
