{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil du site{% endblock %}
{% block meta_title %}Page d'acceuil du site{% endblock %}
{% block description  %}Venez sur mon site Magical Marina ! Ici vous pouvez découvrir mes différentes créations ainsi que mes différentes compétences en make up ! Alors si votre but est de découvrir une artiste de talent ainsi que des créations originales n'hésitez pas venez !{% endblock %}
{% block keywords %}{% endblock %}

{% block body %}

    {% if texte is not null %}
    <!--block texte-->
    <div class="container">

        <div class="block-texte">

            <div class="block-title">
                <h2><i class="fas fa-star"></i>
                        {{ texte.titre }}
                </h2>
            </div>

            <div class="block-presentation">
                <p>
                    {{ texte.texte }}
                </p>
            </div>

            <div class="block-info">
                <p>
                    {{ texte.info }}
                </p>
            </div>

        </div>

    </div>
    {% endif %}

    {% if competences is not empty %}
    <!--Competence background-->
    <div class="block-competence-background">
        <div class="block-competence-titre">
            <h2>Mes Compétences !</h2>
        </div>
    </div>

    <!--Competence block-->
    <div class="container">

        <div class="competences-block">

            {% for row in competences|batch(3) %}

            <div class="competence-row row">


                    {% for i,competence in row %}
                        <div class="competence-block">
                            <div class="competence-texte">
                                <h4>{{ competence.nom }}</h4></div>
                            <div class="competence-logo" style="background-color:{{ competence.color }}">

                                <img src="{{ vich_uploader_asset(competence.photos,'imageFile')|imagine_filter('thumb_competence') }}" alt="competence-image-{{ i }}">
                            </div>
                            <div class="competence-note">
                                {% for i in 1..competence.note %}
                                <span style="font-size: 1.8em; color: #f5cf3f;">
                                    <i class="fas fa-star"></i>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}


            </div>
            {% endfor %}

        </div>

    </div>
    {% endif %}

    {% if galleries is not empty %}
    <!--Slider Realisation-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">

            {% for gallerie in galleries %}
                {% if loop.first %}

                        <div class="carousel-item active" style="background-image: linear-gradient(#4a4a4a 0%,rgba(255, 255, 255, 0) 100%),url({{ vich_uploader_asset(gallerie.image,'imageFile') }});">
                            <a href="{{ path('gallerie_photo',{'slug':gallerie.slug}) }}" alt="{{ gallerie.nom }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h2>{{ gallerie.nom }}</h2>
                                    <p class="text-description">{{ gallerie.description|texteLimiter(300) }}</p>
                                </div>
                            </a>
                        </div>

                {% else %}

                        <div class="carousel-item" style="background-image: linear-gradient(#4a4a4a 0%,rgba(255, 255, 255, 0) 100%),url({{ vich_uploader_asset(gallerie.image,'imageFile') }});">
                            <a href="{{ path('gallerie_photo',{'slug':gallerie.slug}) }}" alt="{{ gallerie.nom }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>{{ gallerie.nom }}</h2>
                                <p class="text-description">
                                    {{ gallerie.description|texteLimiter(300) }}
                                </p>
                            </div>
                            </a>
                        </div>

                {% endif %}

            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}

    {% if articles is not empty %}
    <!--Article block-->
    <div class="article-block container">
        <h2 class="titre-block">Articles dédié à mes créations !</h2>

        {% for row in articles|batch(3) %}
        <div class="row">
            {% for i,article in row %}
            <div class="article">
                <a target="_blank" href="{{ article.lien }}" alt="article-lien-{{ i }}"><img src="{{ vich_uploader_asset(article.photos,'imageFile')|imagine_filter('thumb_article') }}" alt="article-img-{{ i }}"></a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        ScrollReveal().reveal('.block-texte',{delay:100})
        ScrollReveal().reveal('.block-competence-background',{delay:100})
        ScrollReveal().reveal('.competences-block',{delay:100})
        ScrollReveal().reveal('.carousel',{delay:100})
        ScrollReveal().reveal('.article-block',{delay:100})
    </script>
{% endblock %}
