<!DOCTYPE html>
<html>
    <link>
        <meta charset="UTF-8">

        <meta name="tile" content="Magical Marina - {% block meta_title %}{% endblock %}">
        <meta name=description content="{% block description %}{% endblock %}">
        <meta name=keywords content="make up,maquillage,magical marina,maquillage boulogne sur mer,maquilleuse,{% block keywords %}{% endblock %}">

        <title>Magical Marina - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

         <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            ScrollReveal({ reset: true });
        </script>
    </head>
    <body>

    <!--Navigation-->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navigation-gauche">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('acceuil') }}">Acceuil <i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                        </li>

                         {{ render(url('dropdown_gallerie')) }}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact <i class="fas fa-users"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="navigation-droite">
                    <ul class="navbar-nav">
                        {% if app.user %}
                        <li class="nav-item">
                            <a href="{{ path('logout') }}">Logout <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ path('login') }}">Login <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    <!--Block en tête site-->
    <div class="en-tete">
        <a style="text-decoration: none;" href="{{ path('acceuil') }}" alt="lien-acceuil">
            <div class="logo-site">
                <h1 class="nom-site">Magical Marina</h1>
            </div>
        </a>
    </div>

    <div class="content">
        {% block body %}{% endblock %}
    </div>

    <div class="footer">

        <div class="footer-content row">

            {{ render(url('footer.page.listing')) }}

            <div class="footer-contact">
                <div class="titre">
                    <h3 class="footer-title">Contact</h3>
                </div>

                <div class="footer-page-content">
                    <ul>
                        <li><i class="fas fa-envelope"></i> {{ mail }}</li>
                        <li><i class="fas fa-phone-volume"></i> {{ telephone }}</li>
                    </ul>
                </div>
            </div>

            <div class="footer-social">
                <div class="titre">
                    <h3 class="footer-title">Réseaux Sociaux</h3>
                </div>

                <div class="footer-page-content">
                    <ul>
                        <li><a href="{{ facebook }}" target="_blank"><img src="https://u.imageresize.org/v2/c4644aa6-bfe0-4032-8c17-a236b14c5285.png" alt="facebook-logo"/> Facebook</a></li>
                        <li><a href="{{ twitter }}" target="_blank"><img src="https://u.imageresize.org/v2/26408705-0510-478d-add5-804f8fc40609.png" alt="twitter-logo"/> Twitter</a></li>
                        <li><a href="{{ instagramme }}" target="_blank"><img src="https://u.imageresize.org/v2/dc55d773-b67e-46e9-a4de-48035a284892.png" alt="insta-logo"/> Instagramme</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-copyright">
            <div class="copyright-text">© Copyright {{ "now"|date('Y') }} - Magical Marina</div>
        </div>

    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

        {% block javascripts %}{% endblock %}


    </body>
</html>
